name: workflow.yml
on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag for the CLI release"
        required: true

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest] #  macos-latest
        # arch: [x64] #arm64
        # include:
        #   - os: ubuntu-latest
        #     arch: x64
        #   - os: windows-latest
        #     arch: x64
        #   - os: macos-latest
        #     arch: arm64

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - name: Set up GraalVM
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: "25"
          distribution: "graalvm-community"
          components: "native-image"

      # - name: Run tests
      #   run: ./gradlew test

      - name: Build Native Linux Image
        if: matrix.os == 'ubuntu-latest'
        run: ./gradlew nativeCompile && gzip -k build/native/nativeCompile/corrl && mv build/native/nativeCompile/corrl.gz corrl-linux-x64.gz

      - name: Build Native Windows Image
        if: matrix.os == 'windows-latest'
        run: ./gradlew nativeCompile && powershell Compress-Archive -Path D:\a\corrlang-cli\corrlang-cli\build\native\nativeCompile\corrl.exe -DestinationPath corrl-windows-x64.zip
        env:
          # Needed for Windows; to resolve issue with temp folder during native image build, due to relativization
          # problem when different drives are used, such as in GHA runners.
          # https://github.com/graalvm/native-build-tools/issues/754
          GRADLE_OPTS: -Djava.io.tmpdir=${{ runner.temp }}

      - name: Build Native MacOSX Image
        if: matrix.os == 'macos-latest'
        run: ./gradlew nativeCompile && gzip -k build/native/nativeCompile/corrl && mv build/native/nativeCompile/corrl.gz corrl-macos-arm64.gz

      - name: Make release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            corrl-linux-x64.gz
            corrl-windows-x64.zip
            corrl-macos-arm64.gz
          tag_name: ${{ github.event.inputs.tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
